/* 
BG color: #312E81
*/

body {
  background-color: #312E81;
}

.app-container {
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 16px;


  color: #FFFFFF;
}

.conversion-selector {
  display: flex;
  margin-top: 56px;
}

.conversion-selector .radio-button-container {
  margin-right: 12px;
}

.input-container {
  margin-top: 24px;
}

.inputs-container .input-container:first-child {
  margin-bottom: 48px;
}